@page
@model TradeInformant.Pages.Gainers_LosersModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Gainers_Losers.css" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h1>Gainers</h1>
                <div id="Gainers"></div>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h1>Losers</h1>
                <div id="Losers"></div>
            </section>
        </div>
    </div>
</div>
<script src="~/js/Gainers_Losers.js"></script>
