@page
@model TradeInformant.Pages.StocksModel

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Stocks.css" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <h1>Legend</h1>

                <h6>SMA - Simple Movement Average</h6>

                <p>
                    SMA is an average of a stock's closing prices over a specified period of time.
                </p>

                <h6>How is it calculated?</h6>

                <p>
                    It's simply the sum of the closing prices over the number of periods dived by
                    that number of periods.
                </p>

                <h6>EMA - Exponential Movement Average</h6>

                <p>
                    Same as SMA but EMA puts more weight on recent prices and thus making it more
                    responsive to recent price changes.
                </p>

                <h6>How is it calculated?</h6>

                <p>
                    It's a weighted averege that factors in the most recent price changes compared
                </p>

                <h6>MACD - Moving Average Convergence Divergence</h6>

                <p>
                    MACD is a trend-following momentum indicator that shows the relationship between two EMAs of a security’s price.
                </p>

                <h6>How is it calculated?</h6>

                <p>
                    It's typically calculated by subtracting the 26-period EMA from the 12-period EMA. This results in the MACD line.
                    A 9-day EMA of the MACD is called the "signal line".
                </p>

                <h6>RSI - Relative Strength Index</h6>

                <p>
                    A technical indicator, used in momentum trading, that measures the speed and magnitude of a security's recent price changes.
                    RSI oscillates between zero and 100.
                </p>

                <h6>How is it calculated?</h6>

                <p>
                    It's typically calculated using recent up days and down days over a 14-day period.
                </p>
            </section>
        </div>
        <div class="col-md-8">
            <h1>Stock Output</h1>
            <form method="post" id="StockForm">
                <label>
                    Stock Name:<br />
                    <input type="text" name="stockName" id="stockName" required />
                </label>
                <br />
                <label>
                    Interval:<br />
                    <select id="interval" name="interval">
                        <option value="none" selected disabled hidden>Select an Interval</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                </label>
                <br />
                <label>
                    Number of Periods:<br />
                    <input type="number" name="periods" id="periods" min="1" max="100" placeholder="Between 1 and 100" required />
                </label>
                <br /><br />
                <button type="button">Get data</button>
            </form>
            <div id="StockResult"></div>
        </div>
    </div>
</div>
<script src="~/js/Stock.js"></script>