@page
@model TradeInformant.Pages.US_Economic_IndicatorsModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/US_Economic_Indicators.css" />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form method="get" id="RealGDPForm" action="/US_Economic_Indicators">

                <label for="RealGDP">
                    Real GDP:
                    <select id="RealGDP" name="RealGDP">
                        <option value="Annually">Annually</option>
                        <option value="Quarterly">Quarterly</option>
                    </select>
                </label><br />


                <label for="RealGDPperiod">
                    Number of Periods:
                    <input type="number" id="RealGDPperiod" name="RealGDPperiod" placeholder="Between 1 and 100">
                </label><br />
                <button type="submit">Get GDP</button>
            </form>
        </div>

        <div class="col-md-3">
            <form method="get" id="RealGDPperCapitaForm" action="/US_Economic_Indicators">
                <label for="RealGDPperCapita">
                    Real GDP Per Capita:
                    <select id="RealGDPperCapita" name="realGDPperCapita">
                        <option value="Quarterly">Quarterly</option>
                    </select>
                </label>


                <label for="RealGDPperCapitaPeriod">
                    Number of Periods:
                    <input type="number" id="RealGDPperCapitaPeriod" name="RealGDPperCapitaPeriod" placeholder="Between 1 and 100"><br>
                </label><br />
                <button type="submit">Get GDP Per Capita</button>
            </form>
        </div>

        <div class="col-md-2">
            <form method="get" id="CPIForm" action="/US_Economic_Indicators">
                <label for="CPI">
                    CPI:
                    <select id="CPI" name="CPI">
                        <option value="Monthly">Monthly</option>
                        <option value="SemiAnnualy">SemiAnnually</option>
                    </select>
                </label><br />


                <label for="CPIperiod">
                    Number of Periods:
                    <input type="number" id="CPIperiod" name="CPIperiod" placeholder="Between 1 and 100"><br>
                </label><br />
                <button type="submit">Get CPI</button>
            </form>
        </div>

        <div class="col-md-2">
            <form method="get" id="InflationForm" action="/US_Economic_Indicators">
                <label for="Inflation">
                    Inflation:
                    <select id="Inflation" name="Inflation">
                        <option value="Annually">Annually</option>
                    </select>
                </label><br />


                <label for="InflationPeriod">
                    Number of Periods:
                    <input type="number" id="InflationPeriod" name="InflationPeriod" placeholder="Betwen 1 and 100">
                </label><br />
                <button type="submit">Get Inflation</button>
            </form>
        </div>

        <div class="col-md-3">
            <form method="get" id="UnemploymentRateForm" action="/US_Economic_Indicators">
                <label for="UnemploymentRate">
                    US Unemployment Rate:
                    <select id="UnemploymentRate" name="UnemploymentRate">
                        <option value="Monthly">Monthly</option>
                    </select>
                </label><br />


                <label for="UnemploymentRatePeriod">
                    Number of Periods:
                    <input type="number" id="UnemploymentRatePeriod" name="UnemploymentRatePeriod" placeholder="Between 1 and 100"><br>
                </label><br />
                <button type="submit">Get Unemployment Rate</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="row" id="RealGDPOutput"></div>
        <div class="row" id="RealGDPperCapitaOutput"></div>
        <div class="row" id="CPIOutput"></div>
        <div class="row" id="InflationOutput"></div>
        <div class="row" id="UnemploymentRateOutput"></div>
    </div>
</div>
<script src="~/js/US_Economic_Indicators.js"></script>
